.App {
  text-align: left;
}

.App-body {
  box-shadow: -3px 3px 10px 0px #999999;
  background-color: white;
  width: 80%;
  margin-left: 10%;
  margin-top: 2em;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.App-header {
  /* background-color: #2F2424; */
  margin-top: 5vh;
  min-height: 25vh;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Source Sans Pro', sans-serif;
  box-shadow: -3px 3px 10px 0px #999999;
  background-color: white;
}

.App-paragraph {
  padding-left: .5em;
}

.App-navbar {
  margin-left: 10vh;
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}


.App-title {
  /* color: white; */
  font-family: "Copperplate Gothic Light";
}

.App-topics {
  width: 30%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
